<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid text-center">
      <p>&copy; TeRA Lab &middot; College of Computer Science and Software Engineering, Shenzhen University, China</p>
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/js/jquery-1.11.3.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/email-obfuscation.js"></script>
<script src="{{ site.baseurl }}/js/external-links.js"></script>
<script src="{{ site.baseurl }}/js/publication-title-breaks.js"></script>
<script src="{{ site.baseurl }}/js/news-word-breaks.js"></script>
